{% extends 'base.html' %}
{% block content %}

<section id="page-title" >
    <div class="container clearfix">
        <h1>Garage</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Garage</li>
        </ol>
    </div>
</section>

<section id="content" style="background-image: url('../static/business/images/shop.jpeg'); background-size: cover; background-attachment: fixed">
    <div class="content-wrap">
        <div class="container clearfix" >
            <div class="row">
                {% if equipment %}
                    {% for equipment in equipment %}
                    <div class="col-md-6 col-lg-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" data-src="holder.js/300x200" alt="Card image cap">
                            <div class="card-body">
                            <p class="card-text">{{ equipment.make}} {{equipment.model }}</p>
                            <a href="{% url 'equipment_show' equipment_id=equipment.id %}" class="btn btn-primary">View Equipment</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                   <p style= "color: white; font-size: 1.5em;">You haven't added any equipment yet.  Hit the Add Equipment Button to get started.</p>
                {% endif %}
            </div>
            <div class="content-wrap ">
                <div class="container clearfix">
                    <div class="col-ful center">
                        <a href="{% url 'equipment_create' %}" class="btn btn-primary">Add Equipment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}	

		