/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/


.swiper-slide {
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5) !important; 
}

.handwritten {
    font-family: 'Gaegu', cursive, sans-serif !important;
    font-size: 1.2em !important;
  }

/* 
Author: Tim Murtaugh
Availability: https://codepen.io/murtaugh/pen/vxaAp  
*/
.lined-paper {
    min-height: 50vh;
    position: relative;
    background-color: #ffffe7; 
    background-image: 
        linear-gradient(90deg, transparent 29px, #fcc 29px, #fcc 31px, transparent 31px),
        linear-gradient(90deg, transparent 49px, #fcc 49px, #fcc 51px, transparent 51px),
        linear-gradient(rgba(153,204,255,.3) .1em, transparent .1em);
    background-size: 100% 1.5em;
  }
  
.lined-paper:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 4em;
	background-color: #ffffe7; 
	background-image: 
		linear-gradient(90deg, transparent 29px, #fcc 29px, #fcc 31px, transparent 31px),
		linear-gradient(90deg, transparent 49px, #fcc 49px, #fcc 51px, transparent 51px);
}

.paper_tabs {
	padding: 25px 60px 15px 60px;
	font-family: 'Gaegu', cursive, sans-serif !important;
	font-size: 1.2em !important;
}