{% extends 'base.html' %}
{% block content %}

<section id="page-title" >
    <div class="container clearfix">
        <h1>Edit {{ tool.tool_name }}</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'tool_index' %}">Tool Box</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Tool</li>
        </ol>
    </div>
</section>

<section id="content">

    <div class="content-wrap">

        <div class="container clearfix" style="max-width: 500px;">

            <div class="card nobottommargin">
                <div class="card-body" style="padding: 40px;">
                    <h3>Tool Information</h3>

                    <form id="register-form" name="tool-form" class="nobottommargin" action="{% url 'tool_edit' tool.id %}" method="POST">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            <label for="tool-form-name">Tool name:</label>
                            <input type="text" id="tool-form-name" name="tool_name" value="{{ tool.tool_name}}" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text"  id="description" name="description" value="{{ tool.description }}" class="form-control"/>
                        </div>

                        <div class="col_full nobottommargin">
                            <button class="button button-3d button-small button-teal" type="submit" value="update">Update</button>
                            <a href="{% url 'tool_index' %}" class="button button-3d button-small button-red ">Cancel</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}