{% extends 'base.html' %}
{% block content %}

<section id="page-title" >
    <div class="container clearfix">
        <h1>Create Equipment</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'garage' %}">Garage</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create Equipment</li>
        </ol>
    </div>
</section>

<section id="content">

    <div class="content-wrap">

        <div class="container clearfix" style="max-width: 900px;">

            <div class="card nobottommargin">
                <div class="card-body" style="padding: 40px;">
                    <h3>Equipment Information</h3>

                    <form id="register-form" name="equipment-form" class="nobottommargin" action="{% url 'equipment_create' %}" method="POST">
                        {% csrf_token %}
                        
                         {% if error %}
                            <div class="style-msg errormsg">
							    <div class="sb-msg"><i class="icon-remove"></i><strong>Oops!</strong> {{error}}</div>
						    </div>
                        {% endif %}
                        
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="equipment-form-make">Make:</label>
                                <input type="text" id="equipment-form-make" name="make" placeholder="Ford" class="form-control" />
                            </div>

                            <div class="form-group col-md-4">
                                <label for="equipment-form-model">Model:</label>
                                <input type="text" id="equipment-form-model" name="model" placeholder="F-250" class="form-control" />
                            </div>

                            <div class="form-group col-md-4">
                                <label for="equipment-form-model">Year:</label>
                                <input type="number" id="equipment-form-model" name="mfg_year" value=0 class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-7">
                                <label for="equipment-form-make">Hours/Miles:</label>
                                <input type="number" id="equipment-form-make" name="age" aria-describedby="hoursHelp" value=0 class="form-control" />
                                <small id="hoursHelp" class="form-text text-muted">Enter either the milage of the number or hours on the equipment.  If neither is applicable, leave the 0.</small>
                            </div>

                            <div class="form-group col-md-5">
								<label for="select">Increment:</label>
                                <p>{{ equipment_form.incrementer }}</p>
                            </div>
                        </div>

                         <div class="form-group">
                            <label for="equipment-form-cost">Cost ($):</label>
                            <input type="number" id="equipment-form-cost" name="cost" value=0 class="form-control" />
                        </div>

                        <div class="col_full nobottommargin">
                            <button class="button button-3d button-black " type="submit" value="update">Create</button>
                            <a href="{% url 'garage' %}" class="button button-3d button-red ">Cancel</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}