{% extends 'base.html' %}
{% block content %}
 
<section id="page-title" >
    <div class="container clearfix">
        <h1>{{ task.task_name }}</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'garage' %}">Garage</a></li>
            <li class="breadcrumb-item"><a href="{% url 'equipment_show' equipment_id=equipment.id %}">{{ equipment.make }} {{ equipment.model }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ task.task_name }}</li>
        </ol>
    </div>
</section>

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="postcontent nobottommargin clearfix">
                <p>You should perform this task every {{ task.interval }} 
                {% if task.interval_type == 'H'%}
                    Hours
                {% elif task.interval_type == 'M'%} 
                    Miles
                {% else %}
                    Months
                {% endif %}
                and it should take you about {{ task.duration }} hours.</p>
                <h4>Instructions</h4>
                <p>{{task.instructions}}</p>
                {% if task.video %}
                    <p>Video</p>
                    {{ task.video }}
                {% endif %}
                <div>
                   <a href="{% url 'equipment_show' equipment_id=equipment.id %}" class="button button-3d button-small button-teal">Return to Equipment Page</a> 
                   <a href="#" data-toggle="modal" data-target="#maintModal" class="button button-3d button-small button-teal">Create Maintanance Record</a>
                   <a href="{% url 'task_edit' task_id=task.id %}" class="button button-3d button-small button-teal">Edit Task</a>
                   <a href="#" data-toggle="modal" data-target="#deleteTaskModal" class="button button-3d button-small button-red">Delete Task</a>
                </div>
            </div>
            {% comment %} Sidebar {% endcomment %}
            <div class="sidebar nobottommargin col_last clearfix">
                <div class="sidebar-widgets-wrap">

                    <div class="widget clearfix">

                        <h4>Tools</h4>
                        {% if task.tool.count %}
                            <ul>
                                {% for tool in task.tool.all %}
                                    <li><div>{{ tool.tool_name}} - {{tool.description}} </div></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <h5>No tools</h5>
                        {% endif %}
                        <a href="{% url 'tools_consumables' task_id=task.id %}">Add/Remove</a>
                    </div>

                    <div class="widget clearfix">

                        <h4>Consumables</h4>
                        {% if task.consumable.count %}
                            <ul>
                                {% for consumable in task.consumable.all %}
                                <li><div>{{ consumable.name}} - {{ consumable.description }}</div></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <h5>No Consumables</h5>
                        {% endif %}
                        <a href="{% url 'tools_consumables' task_id=task.id %}">Add/Remove</a>
                    </div>

                </div>
            </div>
            {% comment %} end sidebar {% endcomment %}

        <div>
    </div>
</section>

{% comment %} Delete Task Modal {% endcomment %}
<div class="modal fade" id="deleteTaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-body">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Delete Task</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                                            
                    <p>Are you sure you want to delete your {{task.task_name}}?  If you do, all related maintenance records will also be deleted.</p>

                </div>
                <div class="modal-footer">
                    <a href="{% url 'task_delete' task_id=task.id %}" class="button button-3d button-small button-teal">Confirm Delete</a>
                    <button type="button" class="button button-3d button-small button-red" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% comment %} Create Maint Record Modal {% endcomment %}
<div class="modal fade" id="maintModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-body">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Create Record</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                                            
                    <p>Is the equipment up to date for hours/miles?  If not, edit the equipment and then create a maintenance record.</p>

                </div>
                <div class="modal-footer">
                    <a href="{% url 'create_maint_record' equipment_id=task.equipment_id task_id=task.id %}" class="button button-3d button-small button-teal">Confirm Create</a>
                    <button type="button" class="button button-3d button-small button-red" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}